.fa-facebook-t{
  background: blue;
  color: red
  }
  
.fa-instagram{
  color: deeppink
}
.fa-tiktok{
  box-shadow: 5px 3px 4px 5px solid red;
}
.list-inline-item{
  background: linear-gradient(white, lightgray);
  border-radius: 5px
}
.list-inline-item:active{
  background: none;
}